<form action="/login" method="post">
  <p>Enter you username:</p>
  <input type="text" name="username">
  <p>Enter you password:</p>
  <input type="password" name="password">
  <button type="submit">Login</button>
</form>
