<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
</head>

<body>
  <form action="/forms" method="post">
    <p>Enter you username:</p>
    <input type="text" name="username">
    <p>Enter you password:</p>
    <input type="password" name="password">
    <button type="submit">Submit the post</button>
  </form>
</body>

</html>
