<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <% if (typeof(auth) !=="undefined" ) { %>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
          <% } %>
    </ul>
  </nav>
  <main>
    <% if (typeof(content) !=="undefined" ) { %>
      <%- include(content, {pass: typeof(pass) !=="undefined" ? pass : [] } ) %>
        <% } else { %>
          <%= "Hello" %>
            <% } %>
  </main>
</body>

</html>
