<% if (typeof(pass.admin) !=="undefined" && pass.admin ) { %>
  <p>Hello admin :D</p>
  <% } %>
    <ul>
      <% pass.posts.forEach(post=> { %>
        <li>
          <a href="./posts/<%= post.id %>">
            <p>
              <%= post.title %>
            </p>
            <p>
              <%= post.created_at.toDateString() %>
            </p>
          </a>
        </li>
        <% }); %>
    </ul>
